# environment variables are set by heroku but can alternatively be set locally by `source`ing a .env file before launch

# bash example:
export LASTFM_API_KEY="abc123"
export LASTFM_SHARED_SECRET="efg456"

# fish example:
set -Ux LASTFM_API_KEY "abc123"
set -Ux LASTFM_SHARED_SECRET "efg456"